<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
  <uses-permission android:name="android.permission.INTERNET"/>
  <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
  <uses-permission android:name="androidx.car.app.MAP_TEMPLATES"/>
  <uses-permission android:name="androidx.car.app.ACCESS_SURFACE"/>
  <application android:allowBackup="false" android:label="NewsWave Live" android:icon="@drawable/ic_launcher" android:roundIcon="@drawable/ic_launcher" android:theme="@android:style/Theme.Material.NoActionBar" android:hardwareAccelerated="true" android:usesCleartextTraffic="false">
    <meta-data android:name="com.google.android.gms.car.application" android:resource="@xml/automotive_app_desc"/>
    <meta-data android:name="androidx.car.app.minCarApiLevel" android:value="7"/>
    <service android:name=".NewsWaveCarService" android:exported="true" android:label="NewsWave Radar" android:icon="@drawable/ic_launcher">
      <intent-filter>
        <action android:name="androidx.car.app.CarAppService"/>
        <category android:name="androidx.car.app.category.WEATHER"/>
      </intent-filter>
    </service>
    <activity android:name=".RadarActivity" android:exported="false" android:configChanges="orientation|screenSize|keyboardHidden"/>
    <activity android:name=".MainActivity" android:exported="true" android:configChanges="orientation|screenSize|keyboardHidden">
      <intent-filter><action android:name="android.intent.action.MAIN"/><category android:name="android.intent.category.LAUNCHER"/></intent-filter>
    </activity>
  </application>
</manifest>
